<h1>Listing topics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr id="<%= dom_id topic %>">
    <td><%= link_to topic.title, topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Delete', topic, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><span class="vote_count"><%= pluralize(topic.votes.length, "vote") %></span></td>
    <td><%= link_to '+1', votes_path(:topic_id => topic.id), :method => :post, :remote => true %></td>
    <td><%= link_to '-1', votes_path(:topic_id => topic.id), :method => :delete, :remote => true %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
