<p id="notice"><%= notice %></p>

<h1 class="topic_title"><%= @topic.title %></h1>

<p>
  <b>Description:</b>
  <%= @topic.description %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
