<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <!-- Appears in the browser title -->
    <title>Idealator</title>

    <!-- Rails' anti-forgery protection -->
    <%= csrf_meta_tag %>

    <!-- Stylesheets: include what you want -->
    <%= stylesheet_link_tag ['scaffold', 'idealator_base', 'idealator_body', 'idealator_main_content', 'idealator_alerts', 'idealator_forms', 'idealator_tables'] %>

    <!-- Javascript -->
    <%= javascript_include_tag ["jquery-1.4.4", "jquery-ui-1.8.8", "rails", "application", "topic"] %>
  </head>
  <body>
    <!-- Main content container -->
    <div class="content">
      <!-- Heading -->
      <div class="header">
        <%= link_to image_tag("idealator_logo.png"), root_path, :class => "logo_link" %>
      </div>

      <!-- Flash alerts that appear in the upper right -->
      <div class='flash'></div>

      <!-- All other content that comes from view templates is rendered here -->
      <%= yield %>
    </div>
  </body>
</html>
