<!DOCTYPE html>
<html>
<head>
  <title>Idealator</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag ["jquery-1.4.4", "jquery-ui-1.8.8", "rails", "application"] %>
</head>
<body>
  <div class="content">
    <div class="header">
      <%= image_tag "idealator_logo.png" %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
