<!DOCTYPE html>
<html>
<head>
  <title>Idealator</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag ["jquery-1.4.4", "rails", "application"] %>
</head>
<body>
<%= image_tag "idealator_logo.png" %>
<%= yield %>

</body>
</html>
